<div class="container-fluid" style="height:900px;">
  
 <% if current_admin.present? %>
 
  <div class="row justify-content-md-center mt-3">
   <div class="col-auto">
    <h4 style="padding: 1rem 1rem; border-left: 6px double #000;"><%= link_to "投稿一覧" , posts_path %></h4>
   </div>
   <div class="col-auto">
    <h4 style="padding: 1rem 1rem; border-left: 6px double #000;"><%= link_to "タグ管理" , admin_tags_path %></h4>
   </div>
  </div>
 <% else %>
  <div class="row justify-content-md-center">
   <h4 style="padding: 1rem 1rem; border-left: 6px double #000;"><%= link_to "投稿一覧へ" , posts_path %></h4>
  </div>
 <% end %>
  
  
 <div class="row mt-5 mb-5 offset-5 text:enter-block pl-2", style="width:150px; border-bottom:3px solid #000;">
  <h2>タグ一覧</h2>
 </div>
 
 <div class ="row m-3">
  <% @tags.each do |tag| %>
   <br>
    <p class="col-1">
     <%= link_to tag.name, tag_path(tag) %>
    </p>
   </br>
  <% end %>
   
  </div>

  <div class="row mt-5 mb-5 offset-5 text:enter-block pl-2", style="width:150px; border-bottom:3px solid #000;">
  <h2>詳細</h2>
  
  </div>
 
 </div>
 