<!--タイトル-->

<!--投稿一覧ページ-->
<% if current_page?(posts_path) %>
  <div class="jumbotron text-center mt-4" style="background-color: #BEECF7; margin: 0 auto; padding: 5px; border-radius: 30px; width: 20%;">
    <h2 class="m-0">投稿一覧</h2>
  </div>

<!--新規投稿ページ-->
<% elsif current_page?(new_post_path) %>
  <div class="jumbotron text-center mt-4" style="background-color: #BEECF7; margin: 0 auto; padding: 5px; border-radius: 30px; width: 20%;">
    <h2 class="m-0">投稿</h2>
  </div>
  
<!--投稿編集ページ-->  
<% elsif current_page?(edit_post_path(post.id)) %>
  <div class="jumbotron text-center mt-4" style="background-color: #BEECF7; margin: 0 auto; padding: 5px; border-radius: 30px; width: 30%;">
    <h2 class="m-0">編集</h2>
  </div>
  
<!--商品詳細ページ-->
<% elsif current_page?(post_path) %>
  <div class="jumbotron text-center mt-4" style="background-color: #BEECF7; margin: 0 auto; padding: 5px; border-radius: 30px; width: 20%;">
    <h2 class="m-0"><%= post.item_name %></h2>
  </div>

<!--タグ一覧ページ-->
<% elsif current_page?(tags_path) %>
<div class="jumbotron text-center mt-4" style="background-color: #BEECF7; margin: 0 auto; padding: 5px; border-radius: 30px; width: 30%;">
  <h2 class="m-0">タグ一覧</h2>
</div>

<% else %>

<% end %>

