 <div class="container-fluid">
 <div class="row mt-5 mb-5 offset-5">
  <h2>初めまして</h2>
 </div>

<div class="row mt-5 mb-5">
  <h2>ここでは防災グッズの投稿を見る事が可能です。</h2>
 </div>
 
 <div class="row mt-5 mb-5">
  <h2>また会員登録をすると以下の機能もご利用できます。</h2>
　<div class="col-auto">
   <h4>防災グッズの投稿</h4>
  </div>
  <div class="col-auto">
   <h4>防災グッズの検索</h4>
  </div>
 </div>
  
  
<h4>また投稿の一部はログイン無しでも閲覧いただく事が可能です。→<%= link_to "商品一覧", posts_path %></h4>


