 <div class="container-fluid">
  
 <div class="row mt-5 mb-5 offset-5">
  <h2>やること</h2>
 </div>

<div class="row-4 ml-2">
<ul>
  <li>kaminariの導入</li>
  <li>admin側のユーザー検索機能</li>
  <li>admin側のユーザーレイアウト</li>
  <li>admin側のコメント削除機能</li>
  <li>タグの詳細機能</li>
  <li>ユーザーいいねまとめ閲覧機能</li>
  <li>post一覧並べ替え機能</li>
  <li>タグ依頼フォーム</li>
  <li>コメント一覧機能</li>
  <li>ヘッダーの編集</li>
  <li>リーダブルコードの編集</li>
</ul>