<h2>初めまして</h2>

<h4>ここでは防災グッズの投稿を見る事が可能です。</h4>
<h4>また会員登録をすると以下の機能もご利用できます。</h4>
<h4>防災グッズの投稿</h4>
<h4>防災グッズの検索</h4>
<h4><%= link_to "会員登録", new_user_registration_path %></h4>
<h4>また投稿の一部はログイン無しでも閲覧いただく事が可能です。→<%= link_to "商品一覧", posts_path %></h4>
