<div class="container-fluid">
  
 <div class="row mt-5 mb-5 offset-5">
  <h2>こんにちは！</h2>
 </div>

<div class="row justify-content-md-center">
  
<div class="col-3">  
  <h4>商品の一覧は
  <br><%= link_to "こちら", posts_path %>
  <br>をクリック</h4>
  </div>
  
<div class="col-3">  
  <h4>防災グッズの投稿は
  <br><%= link_to "こちら", new_post_path %>
  <br>をクリック</h4>
</div>

<div class="col-3">  
<h4>防災グッズの検索は
  <br><%= link_to "こちら", search_path %>
  <br>をクリック</h4>
</div>

<div class="col-3">  
<h4>マイページは
  <br><%= link_to "こちら", user_path(current_user.id) %>
  <br>をクリック</h4>
</div>

</div>
</div>
