<h2>こんにちは！</h2>


<%= link_to "投稿の閲覧", posts_path %></td>
<%= link_to "防災グッズの投稿", new_post_path %></td>
<h4>防災グッズの検索</h4>
<h4>あなたのマイページ</h4>

<P>やること：投稿機能の整理 (編集と削除ページの追加)、タグ機能の作成、いいね、コメント機能の作成、レイアウトの決定</P>