<div class="container-fluid">
  
 <div class="row mt-5 mb-5 offset-5">
  <h2>投稿一覧</h2>
 </div>

<table class="admin_items has_border">
 <thead>
  <tr>
   <th>商品名</th>
   <th>商品説明</th>
  </tr>
 </thead>
<tbody>
 <% @posts.each do |post| %>
 <tr>
   <td><%= link_to post.item_name, post_path(post.id)  %></td>
   <td><%= post.item_description %></td>
  <% end %>
 </tr>
</tbody>
</table>

<div>
<%= link_to 'new post',  new_post_path %>
</div>


