<div class="container-fluid">
  
 <div class="row mt-5 mb-5 offset-5">
  <h2>会員一覧</h2>
 </div>
 
<table class="table">
  <thead>
    <tr>
      <th scope="col">会員No.</th>
      <th scope="col">名前</th>
      <th scope="col">会員ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.id, admin_user_path(user.id) %></td>
      <td><%= user.name %></td>
      <td><% if user.is_deleted? %>
       <span class="text-active">退会</span>	
      <% else %>
       <span class="text-invalid">有効</span>
      <% end %>
      </td>
    </tr>
  <% end %> 
  </tbody>
</table>
